.panel {
  background-color: #fff1dc;
  width: 50%;
  margin: 20vh auto 0 auto;
  padding: 10px;
  border-radius: 15px;
  form {
    margin: 20px 0;
  }
  input {
    width: 50%;
    text-align: center;
    margin: 0 30px;
  }
}
